@model Profesor

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Crear Profesor</h2>
            <hr />
        </div>
        <div class="mb-3">
        </div>
        <div class="mb-3">
            <label asp-for="Nombre">Nombre</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Apellido">Apellido</label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PrecioHora">Precio por hora</label>
            <input asp-for="PrecioHora" class="form-control" min="1" />
            <span asp-validation-for="PrecioHora" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CantidadHoras">Horas trabajadas</label>
            <input asp-for="CantidadHoras" class="form-control" min="1" />
            <span asp-validation-for="CantidadHoras" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Agregar</button>
        <a asp-controller="Profesor" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Volver al Listado
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}